.card__subtitle{
    margin: 25px auto auto 21px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    max-width: 215px;
    white-space: nowrap;
    overflow: hidden;
}