.card__delete-button{
    width: 18px;
    height: 19px;
    background-image: url(../../../images/trash-can-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    background-color: transparent;
    padding: 0;
    border: 0;
    display: none;
    transition: opacity 300ms ease;
}


.card:hover .card__delete-button{
    display: block;
}

.card__delete-button:hover{
    opacity: 0.7;
}