.popup-form__item{
    width: 84%;
    min-width: 238px;
    font-family: inherit;
    box-sizing: border-box;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: #CCCCCC 1px solid;
    margin-top: 30px;
    padding: 0;
}

.popup-form__item:first-of-type{
    margin-top: 54px;
}