.page{
    background-color: #000000;
    max-width: 880px;
    font-family: Inter, Helvetica, sans-serif;
    padding-top: 45px;
    margin: 0 auto 0;
}

@media screen and (max-width: 700px) {
    .page{
        padding-top: 28px;
    }
}