.popup__input{
    width: 100%;
    font-family: inherit;
    box-sizing: border-box;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: #CCCCCC 1px solid;
    margin-top: 30px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}