.popup__input{
    width: 100%;
    font-family: inherit;
    box-sizing: border-box;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    margin-top: 28px; /* пришлось отодвинуть такикм образом, чтобы влезала ошибка из двух строк в высоту */
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
}

.popup__input:first-of-type{
    margin-top: 22px;
}