.popup__container{
    width: 80%;
    max-width: 430px;
    min-width: 282px;
    height: 330px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .popup__container{
        height: 322px;
    }
}