.profile{
    margin-top: 40px;
    display: flex;
    width: 100%;
    color: white;
    min-height: 120px;
}

@media screen and (max-width: 700px) {
    .profile{
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
    }
}