.popup-form__close-button{
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 500px) {
    .popup-form__close-button{
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}