.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 41px;
}

@media screen and (max-width: 700px) {
    .header{
        padding-bottom: 31.6px;
    }
}