.card__heart-button{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-size: contain;
    background-image: url(../../../images/heart-button-normal.svg);
    background-repeat: no-repeat;
    transition: 400ms ease;
}

.card__heart-button:hover{
    opacity: 0.5;
}
