.profile__photo-hover-element{
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 200ms;
    z-index: 1;
    border-radius: 45%;
    cursor: pointer;
}

.profile__photo-hover-element:hover{
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/edit-profile-photo-button.svg);
}