.profile__text-container{
    display: grid;
    margin-left: 30px;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto;
    row-gap: 9px;
    column-gap: 18px;
}

@media screen and (max-width: 700px) {
    .profile__text-container{
        margin: 26px 0 27px 36px;
    }
}

@media screen and (max-width: 500px) {
    .profile__text-container{
        row-gap: 6px;
        column-gap: 10px;
    }
}