.popup-card__close-button{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-x-button\ \(1\).svg);
    background-size: contain;
}

.popup-card__close-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .popup-card__close-button{
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px;
    }
}